  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "IBM Plex Mono", monospace;
  }

  /* color */
  :root {
      --primary: #9C9C9C;
      --background: #080808;
      --border: #1B1B1B
  }

  /* Landing page */
  .landing {
      width: 100%;
      height: 100vh;
      background-color: var(--background);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .header {
          width: 90%;
          background-color: #1B1B1B;
          border-radius: 0px 0px 8px 8px;
          display: flex;
          justify-content: center;
          align-items: center;

          .nav {
              width: 100%;
              display: flex;
              justify-content: space-around;
              align-items: center;
              padding: 1.3rem 0;

              .nav-link {
                  display: flex;
                  gap: 3.8rem;
                  color: var(--primary);
              }

              .icon {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 1rem;

                  div {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                  }
              }
          }
      }

      .body {
          padding-top: 2rem;
          width: 75%;
          display: flex;
          justify-content: flex-start;
          gap: 5rem;

          .text {
              width: 50%;
              display: flex;
              flex-direction: column;

              gap: 2rem;

              h1 {
                  color: white;
                  font-size: 3rem;
                  font-family: "Raleway"
              }

              p {
                  color: #9C9C9C;
                  line-height: 1.8rem;
                  letter-spacing: 1%;
                  font-size: 1rem;
              }

              button {
                  Padding: 1.2rem 3rem;
                  width: 50%;
                  color: white;
                  background-color: #3F8E00;
                  border: solid 1px #62BA1B;
                  border-radius: .3rem;
                  font-weight: 600;
                  font-size: .9rem;
                  box-shadow: 0px 8px 30px 0px #3F8E0060;
              }
          }

          .img-div {
              width: 30%;
              display: flex;
              align-items: center;
              justify-content: center;

              .img {
                  width: 100%;
                  border-radius: 50%;
                  z-index: 2;
                  background-image: url('/static/profile.png');
                  background-position: center;
                  background-size: cover;
                  aspect-ratio: 1;
              }
          }
      }

      .footer {
          width: 75%;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          color: white;
          padding-bottom: 2rem;

          .footer-svgs {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              gap: 3rem;

              div {
                  padding: .5rem 2rem;
                  border: solid 1px var(--border);
                  border-radius: .2rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
              }
          }
      }
  }
