  /* -- golbal configuration-- */

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "IBM Plex Mono", monospace;
  }

  /* color */
  :root {
      --primary: #9C9C9C;
      --background: #080808;
      --border: #1B1B1B
  }

  /* articles  */
  .articles {
      background-color: #fff;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 3rem 0;

      .articles-div {
          width: 75%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 3rem;
          gap: 3rem;

          .head {
              width: 60%;
              display: flex;
              flex-direction: column;
              align-items: center;
              color: #9C9C9C;
              text-align: center;
              letter-spacing: 1%;
              line-height: 1.5rem;

              h1 {
                  color: #1B1B1B;
                  padding-bottom: 1rem;
                  font-size: 2rem;
                  font-weight: 700;
                  font-family: "Raleway";
              }

          }
      }

      .articles-main {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          .article-text {
              width: 75%;
              display: flex;
              justify-content: space-between;
              gap: 2rem;

              .article-card {
                  width: 80%;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: space-between;
                  gap: 1.2rem;

                  .card-img {
                      width: 100%;
                      height: 18rem;
                      border-radius: .3rem;
                      background-image: url('/static/article2.png');
                      background-position: center;
                      background-size: cover;
                      margin-bottom: 1rem;
                  }

                  .card-img1 {
                      width: 100%;
                      height: 18rem;
                      border-radius: .3rem;
                      background-image: url('/static/article1.png');
                      background-position: center;
                      background-size: cover;
                      margin-bottom: 1rem;
                  }

                  h1 {
                      font-family: "Raleway";
                  }

                  p {
                      line-height: 1.5rem;
                      width: 90%;
                      color: var(--primary);
                  }

                  button {
                      padding: .7rem 2rem;
                      border: solid 1px #62BA1B;
                      background-color: #3F8E00;
                      box-shadow: 0 8px 30px 0 #3F8E0030;
                      color: white;
                      border-radius: .3rem;
                      font-weight: 700;
                      font-size: .9rem;
                  }

              }
          }
      }

  }

  /* getintouch page */
  .getintouch {
      background-color: #080808;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      

      .getintouch-div {
          width: 75%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 3rem 0;
          gap: 3rem;

          .head {
              width: 60%;
              display: flex;
              flex-direction: column;
              align-items: center;
              color: #9C9C9C;
              text-align: center;
              letter-spacing: 1%;
              line-height: 1.5rem;

              h1 {
                  color: #fff;
                  padding-bottom: 1rem;
                  font-size: 2rem;
                  font-weight: 700;
                  font-family: "Raleway";
              }

          }

          form {
              display: flex;
              flex-direction: column;
              
              justify-content: center;
              width: 40%;
              gap: 1.5rem;
              div {
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  gap: .3rem;
                  label{
                    color: white;
                  }
                  input,
                  textarea {
                      width: 100%;
                      padding: .66rem;
                      border-radius: .2rem;
                      border: solid 1px #D8D8D8;
                      font-size: .8gitrem;
                  }
                 textarea{
                    padding-bottom:4rem ;
                 }
              }
              button {
                padding: 1rem 2rem;
                border: solid 1px #62BA1B;
                background-color: #3F8E00;
                box-shadow: 0 8px 30px 0 #3F8E0030;
                color: white;
                border-radius: .3rem;
                font-weight: 700;
                font-size: .9rem;

            }
          }
      }

      .footer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        background-color: #1B1B1B;
        color: white;
      }
  }